@model FinalProject.Web.Models.Question

@{
    ViewBag.Title = "QuestionDetail";
}

<h2>Question and it's Answers</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayFor(model => model.Text)
        </dt>

        <dd>
            
        </dd>

    </dl>

    <dl class="dl-horizontal">

        @foreach (var answer in Model.Answers)
        {
            <dt>
                @Html.DisplayFor(model => answer.Text)
            </dt>

            <dd>
                @Html.ActionLink("Edit", "EditAnswer", new { id = answer.Id})
            </dd>
        }
    </dl>

</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
